/* ==========================================================================
   #generic.reset
   ========================================================================== */

/*
  margins
  =========================================================================== */

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl,
  hr,
  blockquote,
  figure,
  legend,
  form,
  table,
  th,
  td,
  caption
  {
	  margin: 0;
	  padding: 0;
  }

/* ==========================================================================
   #generic.shared
   ========================================================================== */

/**
 * Maintain most of our margins in one place.
 */

/*
   margin-bottom
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
hr,
blockquote,
address,
table,
fieldset,
figure,
pre,
.site--mb-m {
	margin-bottom: 1rem;
}

/*
   margin-left
   ========================================================================== */

ul,
ol,
dl {
	margin-left: 1.5rem;
}

/* ==========================================================================
   #elements.html
   ========================================================================== */

html {
	max-width: 960px;
	padding-left: 1.5rem;
	padding-right:1.5rem;
	margin-top: 1.5rem;
	margin-left: auto;
	margin-right: auto;
	font-size: 28px;
}

/* ==========================================================================
   #elements.body
   ========================================================================== */

body {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	line-height: 1.5;
	overflow-y: scroll;
	min-height: 100%; 
	color: #c4c7c5;
	background-color: #121212;
}

/* ==========================================================================
   #elements.headings
   ========================================================================== */

h1 {
	font-size: 1.5em;	 
}

h2, 
h3, 
h4, 
h5, 
h6 {
	font-size: 1.25em;
}

/*
  weights
  =========================================================================== */

h1,
h2,
h3,
h4,
h5 {
	font-family: "Roboto Condensed", Arial, sans-serif;
	font-weight: bold;
	color: #fff;
}

/*
  h2
  =========================================================================== */

h2 {
	margin-bottom: 1rem;
	padding: 1rem;
	color: #fff;
	background-color: #1b1b1b;
}

@media (min-width: 768px) {
	h2 {
		margin-left: -6rem;
	}
	 
} 

/* ==========================================================================
   #elements.html
   ========================================================================== */

hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top-width: 1px;
	border-top-color: #1bb1b;
	border-top-style: solid;
}

/* ==========================================================================
   #elements.pre
   ========================================================================== */

pre {
	background-color: #222;
}

/* ==========================================================================
   #elements.code
   ========================================================================== */

p > code {
	background:#eee;  
}

/* ==========================================================================
   #site-box
   ========================================================================== */

/**
 * Used to box off content from the rest of the page.
 *
 * Usage:
 *
 * <div class="site-box"></div>
 */

 pre,
.site-box {
	margin-bottom: 1rem;
	padding: .75rem;
	border-radius: 8px;
	color: #fff;
	background-color: #1b1b1b;
	overflow-x: scroll;
}

.site-box > :last-child {
	margin-bottom: 0;
}
 
/* ==========================================================================
   #site-icon
   ========================================================================== */

/**
 * Used to float an image to the left of content on screen, and center it on 
 * mobile.
 *
 * Usage:
 *
 * <div class="site-icon"></div>
 */

.site-icon {
	display: block;
	margin: 0 auto;
	width:128px;
	height:128px;
}

@media (min-width: 768px) {
	.site-icon {	 
		 float: left;
		 margin-left: -6rem;
		 margin-bottom:1.5rem; 
	}
} 
